body {
    background-color: black;
}

h1 {
    font-size: 30px;
    color: lightgreen;
    font-family: Arial;
    font-weight: 30;
}

.gallery {
    text-align: center;
}

.enlarged {
    width: 400px;
    height: 300px;  
}

p {
    font-size: 60px;
    color: lightgreen;
    font-family: Arial;
    margin-left: 150px;
    font-weight: 50;
}

img {
    width: 500px;
    height: 400px;
    margin-left: 100px;
    border-radius: 10px;
}

.enlarged {
    opacity: 40%;
}

div {

    margin-left: 20px;
    font-size: 30px;
    font-family: Arial;
    color: lightgreen;
    
}

.column {
    grid-template-columns: 350px, 350px;
    width:50%;
    display: block;
}

.panels {
    margin-left: 40px;
}

a {
    color: lightgreen;
    text-decoration:none;
}