body {
    background-color: white;
}

h1 {
    font-size: 30px;
    color: forestgreen;
    font-family: Arial;
    font-weight: 30;
}

h2 {
    color: forestgreen;
    font-size: 30px;
    margin-left: 100px;
    font-family: Arial;
    font-weight: 100;
}

.form {
    margin-left: 100px;
    display: block;
}

.form-for-email {
    border-radius: 10px;
    margin-left: 250px;
    margin-right: 250px;
    border: 2px white solid;
    padding-bottom: 20px;
    margin-top: 20px;

}

#form {
    margin-top: 20px;
    margin-right: 600px;
}

.gallery {
    display: flex;
    grid-template-columns: 300px, 300px, 300px;
    margin-left: 340px;
    margin-right: 340px;
    margin-top: 50px;
    padding-bottom: 50px;
}

.enlarged {
    width: 400px;
    height: 300px;  
}

p {
    font-size: 60px;
    color: forestgreen;
    font-family: Arial;
    margin-left: 150px;
    font-weight: 50;
}

img {
    width: 500px;
    height: 400px;
    margin-left: 100px;
    border-radius: 10px;
}

.reservation {
    width: 30px;
    height: 30px;
}

.enlarged {
    opacity: 40%;
    width: 60px;
    height: 50px;
}

div {

    margin-left: 20px;
    font-size: 30px;
    font-family: Arial;
    color: forestgreen;
    
}

.column {
    grid-template-columns: 350px, 350px;
    width:50%;
    display: flex;
}

.panels {
    margin-left: 40px;
}

a {
    color: lightgreen;
    text-decoration:none;
}

button {
    background-color: white;
    font-family: Arial;
    font-size: 30px;
    color: forestgreen;
    border-color: white;
    border-style: hidden;
    display: block;
    margin-bottom: 50px;
    margin-top: 15px;
}

.about {
    padding-bottom: 60px;
    margin-left: 340px;
    margin-right: 340px;
}