body {
    background-color: salmon;
    text-align: center;
}


.edu-au-vic-wa-nt-pre-mystery {
  font-family: "Edu AU VIC WA NT Pre", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

  
h1 {
    font-size: 30px;
    color: white;
    font-family: Arial;
    font-weight: 30;
}

h2 {
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: "Edu AU VIC WA NT Pre", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }


.form {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 16px;
}

.form-for-email {
    border-radius: 10px;
    margin-left: 100px;
    margin-right: 100px;
    border: 2px white solid;
    padding-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    display: block;

}

.gallery {
    display: block;
    float: left;
    grid-template-columns: 100px;
    /* margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px; */
    text-align: left;
    font-family: "Edu AU VIC WA NT Pre", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.enlarged {
    width: 400px;
    height: 300px;  
}

p {
    font-size: 60px;
    color: white;
    font-family: "Edu AU VIC WA NT Pre", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-bottom: -60px;
}

img {
    width: 500px;
    height: 400px;
    margin-left: 5px;
    border-radius: 16px;

}

.reservation {
    width: 30px;
    height: 30px;
}

.enlarged {
    opacity: 40%;
    width: 60px;
    height: 50px;
}

div {
    text-align: center;
    margin-left: 20px;
    font-size: 30px;
    font-family: "Edu AU VIC WA NT Pre", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: forestgreen;
    display: block;
    
}

.receipt {
    text-align: center;
    margin-left: 20px;
    font-size: 20px;
    font-family: "Edu AU VIC WA NT Pre", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: forestgreen;
    display: inline-block;
    
}

#delete-reservation {
    background-color: red;
    font-size: 15px;
    height: 30px;
    width: 180px;
    border-radius: 6px;

}

.column {
    grid-template-columns: 350px, 350px, 350px;
    /* margin-left: auto;
    margin-right: auto; */
    display: inline-flex;
    text-align: center;
}

.panels {
    margin-left: 40px;
}

a {
    color: white;
    text-decoration:none;
}

button {
    background-color: salmon;
    font-family: "Edu AU VIC WA NT Pre", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: white;
    border-color: white;
    border-style: hidden;
    display: block;
    margin-bottom: 25px;
    text-align: left;
   
}

.about {
    padding-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
    font-family: "Edu AU VIC WA NT Pre", cursive;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.contact-submit {
    height: 30px;
    width: 200px;
    font-size: 14px;
    background-color: forestgreen;
    color: white;
    border-radius: 10px;
    align-items: center;
    margin-top: 20px;
    
}

.details {
    color: white;
}

.back-to-homepage {
    background-color: forestgreen;
    font-size: 15px;
    height: 30px;
    width: 180px;
    border-radius: 6px;
 
}

.webmaster {
    position: absolute;
    top: 10px;
    right: 1000px;
    font-size: 5px;
    color: salmon;
}

.form {
    text-align: left;
    font-family: Georgia;
    background-color: wheat;
    color: black;
}

.secret-submit {
    text-align: center;
    color:black;
    background-color: white;
    border-radius: 4px;
    width: 200px;
}

#zone {
    font-size: 25px;
}

.contact-submit {
    text-align: center;
    align-items: center;
    font-family: "Edu AU VIC WA NT Pre", cursive;
    font-weight: 400;
    font-style: normal;
}

@media(max-width: 600px) {
    body {
        background-color: salmon;
        text-align: center;
        color: white;
        font-family: "Edu AU VIC WA NT Pre", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 1em;
    }

    h1 {
        color: white;
        font-family: "Edu AU VIC WA NT Pre", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 15px;
    }

    h2 {
        color: white;
        font-size: 15px;
        text-align: center;
        font-family: "Edu AU VIC WA NT Pre", cursive;
        font-weight: 400;
        font-style: normal;
    }

    .form-for-email {
        align-items: center;
        border-radius: 16px;
        margin-left: 15px;
        margin-right: 15px;
        border: 2px white solid;
        padding-bottom: 15px;
        margin-top: 15px;
        text-align: center;
        display: block;
        font-family: "Edu AU VIC WA NT Pre", cursive;
        font-weight: 400;
        font-style: normal;
    
    }

    .gallery {
        display: block;
        float: left;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        padding-bottom: 0px; 
        text-align: left;
        font-family: "Edu AU VIC WA NT Pre", cursive;
        font-weight: 400;
        font-style: normal;
    }

    .column {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        text-align: center;
        align-items: center;
    }

    img {
        height: 250px;
        width: auto;
        border-radius: 1em;
        text-align: center;
    }
 
    p {
        font-size: 38px;
        color: white;
        margin-bottom: 15px;
    }

   button {
    font-size: 20px;
    font-family: "Edu AU VIC WA NT Pre", cursive;
    font-weight: 400;
    font-style: normal;
    color: white;
   }

   .button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   }

   .abput {
    font-size: 15px;
    color: white;
   }
}
