.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


div {
  padding: 10px;
  text-align: center;
}

div.container {
margin-top: 40px;
border: solid black 1px;
border-radius: 10px;
width: 40%;
display: inline-block;
}

div.share {
display: inline-block;
}


div.pics {
display:inline-table;
width: 300px;
height: 250px;
padding: 10px;

}

button {
  border-radius: 10px;
  color: white;
  background-color: coral;
  width: 150px;
  height: 35px;
  margin-top: 15px;
  margin-bottom: 15px;
}

input {
  font-size: 19px;
}


p{
  color: green;
}

figcaption {
  text-align: center;
}

h2 {
  font-weight: 300;
  padding-left: 250px;
  padding-right: 250px;
}